Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [112]:
def is_symmetrical(no):
    try:
        st=str(no)
        if st==st[::-1]:
            return True
        else:
            return False
    except Exception as e:
        return 'error has occured',e

In [115]:
is_symmetrical(7227)

True

In [98]:
is_symmetrical(12567)

False

In [99]:
is_symmetrical(44444444)

True

In [100]:
is_symmetrical(9939)

False

In [101]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [146]:
def multiply_nums(st):
    st=st.replace(' ','')
    my_list=st.rsplit(sep=',')
    product=1
    for i in my_list:
        product=product*int(i)
    return product

In [147]:
multiply_nums("2, 3") == 6

True

In [148]:
multiply_nums("1, 2, 3, 4") == 24

True

In [149]:
multiply_nums("54, 75, 453, 0")== 0

True

In [150]:
multiply_nums("10, -2") ==-20

True

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [158]:
def square_digits(no):
    try:
        st=str(no)
        new_st=''
        for i in st:
            new_st=new_st+str(int(i)*int(i))
        return int(new_st)
    except Exception as e:
        return 'error has occured',e

In [159]:
square_digits(9119) == 811181

True

In [160]:
square_digits(2483)== 416649

True

In [161]:
square_digits(3212)== 9414

True

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [181]:
def setify(ar):
    sorted_list=sorted(ar)
    my_set=set(sorted_list)
    return list(my_set)

In [182]:
setify([1, 3, 3, 5, 5]) == [1, 3, 5]

True

In [183]:
setify([4, 4, 4, 4]) ==[4]

True

In [184]:
setify([5, 7, 8, 9, 10, 15]) == [5, 7, 8, 9, 10, 15]

True

In [185]:
setify([3, 3, 3, 2, 1]) == [1, 2, 3]

True

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [216]:
def mean(no):
    try:
        st=str(no)
        sum=0
        for i in st:
            sum=sum+int(i)
        return (sum/len(st))
    except Exception as e:
        return 'error',e

In [218]:
mean(42)== 3

True

In [215]:
mean(666) == 6

True

In [219]:
mean(12345)== 3

True