In [ ]:
Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, 
then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [10]:
def next_in_line(my_list,no):
    try:
        if len(my_list)>0:
            my_list.append(no)
            fi_list=my_list[1:]
            return fi_list
        else:
            return 'No list has been selected'
    except Exception as e:
        return 'error'

In [11]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [12]:
next_in_line([7, 6, 3, 23, 17], 10) == [6, 3, 23, 17, 10]

True

In [13]:
next_in_line([1, 10, 20, 42 ], 6)==[10, 20, 42, 6]

True

In [14]:
next_in_line([], 6) == "No list has been selected"

True

In [ ]:
Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [18]:
def get_budgets(my_list_dict):
    sum=0
    for i in my_list_dict:
        sum=sum+i['budget']
    return sum

In [19]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [20]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) == 62600

True

In [ ]:
Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [24]:
def alphabet_soup(my_str):
    return ''.join(sorted(my_str))

In [25]:
alphabet_soup("hello") == "ehllo"

True

In [26]:
alphabet_soup("edabit") == "abdeit"

True

In [27]:
alphabet_soup("hacker") == "acehkr"

True

In [28]:
alphabet_soup("geek") == "eegk"

True

In [29]:
alphabet_soup("javascript") == "aacijprstv"

True

In [ ]:
Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [34]:
def return_only_integer(my_list):
    new_list=[]
    for i in my_list:
        if type(i)== int:
            new_list.append(i)
    return new_list

In [35]:
return_only_integer([9, 2, "space", "car", "lion", 16]) == [9, 2, 16]

True

In [36]:
return_only_integer(["hello", 81, "basketball", 123, "fox"]) == [81, 123]

True

In [38]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ==[10, 56, 20, 3]

True

In [39]:
return_only_integer(["String",  True,  3.3,  1]) == [1]

True